/*
Responsive Mobile Toggle Menu v1.0
Description: Mobile first responsive toggle menu IE8 and IE7 desktop fallback
Author: Danielle Vautier
*/
label.menuTitle {
	display:none;
	}
	
.menu { 
	display:block!important;
	border:0;
	padding:10px 0;
	max-height:100%;/*Important for ie7*/
	overflow:visible;
	border-bottom:1px solid #ccc;
	}	

.menu li {
	width:auto; 
	display:inline; 
	border:0; 
	border-left:1px solid #ccc;
	}
	
.menu li:hover  {
	background:none;
	}
	
.menu li:first-child {
	border-left:0;
	}
	
.menu a, .menu a:visited {
	display:inline; 
	width:auto;
	padding:0 3px 0 8px;
	}