/*
Responsive Mobile Menu v1.0 IE8, IE7 fallback
Author: Danielle Vautier
*/
label.menu-title {
		display:none;
		}

.menu { 
	display:block!important;
	border:0;
	max-height:100%;/*Important for ie7*/
	overflow:visible;
	}	

.menu li {
	width:auto; 
	display:inline; 
	border:0; 
	border-left:1px solid #ccc;
	}
	
.menu li:hover  {
	background:none;
	}
	
.menu li:first-child {
	border-left:0;
	}
	
.menu a {
	display:inline; 
	width:auto;
	padding:0 3px 0 8px;
	}