/*
Responsive Mobile Menu v1.0
Author: Danielle Vautier

*/

/*Page CSS*/
body, html {margin:0; font-size:16px;}
.content { float:left; }

/*Menu  CSS*/
body{ -webkit-animation: bugfix infinite 1s; }
#toggle, .toggle { display: none; }
.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }

.mainMenu {
	display:block;
	position:relative;
	width:100%;
	padding:0px;
	margin:0 auto;
	text-align: center;
	line-height:1.4;
	float:left;
	}
	
.menu {
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	border-bottom:1px solid #ccc;
	max-height: 0px;
    overflow-y: hidden;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	}
	
#toggle:checked ~ .menu {  max-height:800px; opacity:1;}

	
.menu li {
	margin:0;
	padding:0;
	border-top:1px solid #ccc;
	white-space:nowrap;
	display:block;
	width:100%;
	}
	
.menu li:hover {
	background-color:#eee;
	cursor:pointer;
	}

	
.menu a {
	color:#333;
	text-decoration:none;
	display:block;
	width:94%;
	padding:5px 3%;
	}

.menu li:first-child {
	border-left:0;
	}	

.menu a:hover {color:#666;}
	
/*With JS*/
	
.mobileMenuWrapper {
	float:left;
	width:94%;
	height:40px;
	background:url(../images/menu-fallback.png)  no-repeat right 10px;
	background:url(../images/menu.svg) no-repeat right 10px;	
	background-size: 24px 19px; 
	margin:0 3%;
	}

label.menu-title {
	text-align:left;
	font-size:20px;
	margin:0;
	padding:6px 0;
	width:100%;
	display:block;
	cursor:pointer;
	}
	
@media screen and (min-width:600px) {
	.mobileMenuWrapper {
		display:none;
		}
	
	.menu { 
		display:block!important;
		border:0;
		overflow:visible;
		max-height:inherit;
		}	

	.menu li {
		width:auto; 
		display:inline; 
		border:0; 
		border-left:1px solid #ccc;
		}
		
	.menu li:hover  {
		background:none;
		}
		
	.menu li:first-child {
		border-left:0;
		}
		
	.menu a {
		display:inline; 
		width:auto;
		padding:0 3px 0 8px;
		}
	}


