/*
Responsive Mobile Toggle Menu v1.1
Description: Mobile first responsive toggle menu
Author: Danielle Vautier
*/

/*Page CSS*/
body, html {font-size:16px; font-family:arial, sans-serif; margin:0;}
.content { float:left; margin:1% 3%; }
small { font-size:80%;}

/*Menu mobile first CSS*/
body{ -webkit-animation: bugfix infinite 1s; }

.mainMenu {
	display:block;
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	line-height:1.4;
	float:left;
	border-bottom:1px solid #ccc;
	box-shadow:0px 0px 3px 5px #ececec;
	}
	
#toggleMenu, .toggleMenu { 
	display: none;
	}

.toggleMenu { 
	display: block; 
	position: relative; 
	cursor: pointer; 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none; 
	}
	
#toggleMenu:checked ~ .menu {  
	max-height:800px; 
	opacity:1;
	}
	
.menu {
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
    overflow-y: hidden;
	text-align:center;
	max-height:0;
	}
	
.menu li {
	margin:0;
	padding:0;
	border-top:1px solid #ccc;
	white-space:nowrap;
	display:block;
	width:100%;
	}
	
.menu li:hover {
	background-color:#eee;
	cursor:pointer;
	}
	
.menu a, .menu a:visited {
	color:#333;
	text-decoration:none;
	display:block;
	width:94%;
	padding:5px 3%;
	}

.menu li:first-child {
	border-left:0;
	}	

.menu a:hover {
	color:#666;
	}
	
label.menuTitle {
	text-align:left;
	font-size:20px;
	padding:6px 3%;
	margin:0;
	width:94%;
	display:block;
	font-weight:bold;
	cursor:pointer;
	background:url(../images/menu.svg) no-repeat 97% 10px;
	background:url(../images/menu.png) no-repeat 97% 10px;
	background-size: 24px 19px; 
	}
	
@media screen and (min-width:768px) {
	label.menuTitle {
		display:none;
		}
	
	.menu { 
		display:block!important;
		border:0;
		overflow:visible;
		max-height:100px!important;
		padding:10px 0;
		}	

	.menu li {
		width:auto; 
		display:inline; 
		border:0; 
		border-left:1px solid #ccc;
		}
		
	.menu li:hover  {
		background:none;
		}
		
	.menu li:first-child {
		border-left:0;
		}
		
	.menu a, .menu a:visited {
		display:inline; 
		width:auto;
		padding:0 3px 0 8px;
		}
	}